* 1 * * * LOG=logs; IMAGE=icgcdcc/daco2ego; DATE=$(date +"\%Y-\%m-\%d \%H:\%M:\%S");test -d $LOG || mkdir $LOG; docker run --network=host -v /home/daco2ego/daco2ego.conf:/daco2ego/config/default.conf:ro -v/nfs/icgc-dcc:/nfs/icgc-dcc/:ro $IMAGE > ${LOG}/report-$DATE
